<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> 
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='home' %} class="active" {% endif %}><a href="{{ site.baseurl }}/home/" >Home</a></li>
                <li {% if page.sectionid=='data' %} class="active" {% endif %}><a href="{{ site.baseurl }}/data/">Data</a></li>
                <li {% if page.sectionid=='tasks' %} class="active" {% endif %}><a href="{{ site.baseurl }}/tasks/">Tasks</a></li>
                <li {% if page.sectionid=='examples' %} class="active" {% endif %}><a href="{{ site.baseurl }}/examples/">Examples</a></li>
                <li {% if page.sectionid=='submission' %} class="active" {% endif %}><a href="{{ site.baseurl }}/submission/">Submissions</a></li>
                <li {% if page.sectionid=='archive' %} class="active" {% endif %}><a href="{{ site.baseurl }}/archive/">Archive</a></li>
                <li {% if page.sectionid=='acknowledgements' %} class="active" {% endif %}><a href="{{ site.baseurl }}/acknowledgements/">Acknowledgements</a></li>
                <!-- <li {% if page.sectionid=='references' %} class="active" {% endif %}><a href="{{ site.baseurl }}/references/">References</a></li> -->
                <li {% if page.sectionid=='pastcontests' %} class="active" {% endif %}><a href="{{ site.baseurl }}/pastcontests/">Past SciVis Contests</a></li>
                <li {% if page.sectionid=='faqs' %} class="active" {% endif %}><a href="{{ site.baseurl }}/faqs/">FAQs</a></li>
            </ul>
            <div class="navbar-right">

            </div>
        </div>
    </div>
</nav>
